body {
  width: 80%;
  padding: 0px 10%;
  background-size: cover;
  background-color: #ccc;
  font-family: "Roboto Condensed", sans-serif;
  flex-direction: column;
  color: #0d0d0d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.coName {
  font-family: "Unica One", cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
